<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/JadenWebstore/Template/style.css">
    <title>Jaden's Webstore</title>
</head>

<body>
    <div class="grid-container">
        <!-- Header -->
        <header class="header">
            <div class="brand">
                <!-- Sidebar Menu -->
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="./index.html">Jaden's Webstore</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <!-- Sidebar Section -->
        <aside class="sidebar">
            <h3>Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul>
                <li>
                    <a href="index.html">Home and Office</a>
                </li>

                <li>
                    <a href="index.html">Toys</a>
                </li>

            </ul>
        </aside>
        <!-- Main Section -->
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <!-- Need to add placeholder images -->
                            <img class="product-image" src="./Images/mug-JPG.jpg" alt="coffee mug">
                            <div class="product-name">
                                <a href="product.html">Paper Weight</a></div>
                            <div class="product-brand">Jaden's 3D Printing</div>
                            <div class="product-price">$60</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <!-- Need to add placeholder images -->
                            <img class="product-image" src="./Images/mug-JPG.jpg" alt="coffee mug">
                            <div class="product-name">
                                <a href="product.html">Paper Weight</a></div>
                            <div class="product-brand">Jaden's 3D Printing</div>
                            <div class="product-price">$60</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <!-- Need to add placeholder images -->
                            <img class="product-image" src="./Images/mug-JPG.jpg" alt="coffee mug">
                            <div class="product-name">
                                <a href="product.html">Paper Weight</a></div>
                            <div class="product-brand">Jaden's 3D Printing</div>
                            <div class="product-price">$60</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <!-- Need to add placeholder images -->
                            <img class="product-image" src="./Images/mug-JPG.jpg" alt="coffee mug">
                            <div class="product-name">
                                <a href="product.html">Paper Weight</a></div>
                            <div class="product-brand">Jaden's 3D Printing</div>
                            <div class="product-price">$60</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <!-- Need to add placeholder images -->
                            <img class="product-image" src="./Images/mug-JPG.jpg" alt="coffee mug">
                            <div class="product-name">
                                <a href="product.html">Paper Weight</a></div>
                            <div class="product-brand">Jaden's 3D Printing</div>
                            <div class="product-price">$60</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <!-- Need to add placeholder images -->
                            <img class="product-image" src="./Images/mug-JPG.jpg" alt="coffee mug">
                            <div class="product-name">
                                <a href="product.html">Paper Weight</a></div>
                            <div class="product-brand">Jaden's 3D Printing</div>
                            <div class="product-price">$60</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <!-- Need to add placeholder images -->
                            <img class="product-image" src="./Images/mug-JPG.jpg" alt="coffee mug">
                            <div class="product-name">
                                <a href="product.html">Paper Weight</a></div>
                            <div class="product-brand">Jaden's 3D Printing</div>
                            <div class="product-price">$60</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <!-- Need to add placeholder images -->
                            <img class="product-image" src="./Images/mug-JPG.jpg" alt="coffee mug">
                            <div class="product-name">
                                <a href="product.html">Paper Weight</a></div>
                            <div class="product-brand">Jaden's 3D Printing</div>
                            <div class="product-price">$60</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <!-- Footer -->
        <footer class="footer">
            All Rights Reserved &copy 2020
        </footer>
    </div>
    <script>
        function openMenu() {
            document.querySelector(".sidebar").classList.add("open");
        }

        function closeMenu() {
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
</body>

</html>