<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/JadenWebstore/Template/style.css">
    <title>Jaden's Webstore</title>
</head>

<body>
    <div>
        <!-- Header -->
        <header>Jaden's Webstore</header>
        <!-- Aside -->
        <aside>
            Shopping Categories
        </aside>
        <!-- Main Section -->
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
                <li>Product 5</li>
            </ul>
        </main>
        <!-- Footer -->
        <footer>
            All Rights Reserved
        </footer>
    </div>
</body>

</html>